@import "tailwindcss";
@import 'swiper/css';



html, body {
  scroll-behavior: auto;
  background: white;
  color: black;
  font-family: var(--font-inter);
}

:root {
  --font-inter: 'Inter';
  --font-roboto-mono: 'Roboto Mono';
}


@keyframes sparkle1 {
  0%, 100% { transform: scale(1); opacity: 0.7; }
  50% { transform: scale(1.5); opacity: 1; }
}

@keyframes sparkle2 {
  0%, 100% { transform: scale(1); opacity: 0.6; }
  50% { transform: scale(1.8); opacity: 1; }
}

@keyframes sparkle3 {
  0%, 100% { transform: scale(1); opacity: 0.5; }
  50% { transform: scale(2); opacity: 1; }
}

.animate-sparkle1 {
  animation: sparkle1 2s infinite ease-in-out;
}
.animate-sparkle2 {
  animation: sparkle2 2.5s infinite ease-in-out;
}
.animate-sparkle3 {
  animation: sparkle3 1.8s infinite ease-in-out;
}

@keyframes gradientMove {
  0% { background-position: 0% center; }
  100% { background-position: 200% center; }
}

.animate-gradient {
  animation: gradientMove 6s linear infinite;
}




